<div>
  <div [ngClass]="{javascript: isJavaScript(book)}" *ngFor="let book of books">
    <h4>{{book.title}}</h4>
    <div>Author: {{quote(book.author)}}</div>
    <div>Year: {{book.year}}</div>
    <div>Pages: {{book.pages}}</div>
    <div>Description: {{book.description}}</div>
    <div>Price: {{book.price | currency : 'UAH': true}}</div>
  </div>
</div>
<div>
  <p (click)="displaySymbolCount(book.title)">Book title: {{book.title}}</p>
  <p (click)="displaySymbolCount(book.year)">Book year: {{book.year}}</p>
  <p (click)="displaySymbolCount(book.description)">Book description: {{book.description}}</p>
</div>
<div>Number of characters: {{symbolCount}} </div>
