<form (ngSubmit)="save(bookForm.value)" #bookForm="ngForm">
  <div>
    <label>Title</label><input name="title" ngModel #title="ngModel" required>
    <div *ngIf="!title.valid && title.touched">Please, enter valid title</div>
  </div>
  <div>
    <label>Title</label><input name="pages" ngModel #author="ngModel" required>
  </div>
  <div>
    <label>Pages</label><input name="pages" ngModel #pages="ngModel" required>
  </div>
  <div>
    <label>Year</label><input name="year" ngModel #year="ngModel" required>
  </div>
  <button type="submit" [hidden]="!bookForm.valid">Save</button>
</form>
