<form [formGroup]="bookForm" appCustomizer [className]="'error'">
  <div>
    <label id="title">Title</label><input formControlName="title">
    <div *ngIf="!isValidControl('title')">Please, enter valid title</div>
  </div>
  <div>
    <label>Author</label><input formControlName="author">
  </div>
  <div>
    <label>Pages</label><input formControlName="pages">
  </div>
  <div>
    <label>Year</label><input formControlName="year">
  </div>
  <div>
    <label>Description</label><input formControlName="description">
  </div>
  <button type="submit" [disabled]="!bookForm.valid" (click)="save()">Save</button>
</form>
